<% include ../partials/header %>
<!-- Change Date format to yyyy-mm-dd for show current value  -->
<% var date = homework.timeLimit.getDate(),
       month = homework.timeLimit.getMonth()+1,
       year = homework.timeLimit.getFullYear(); %>
<% if(date<10) date = "0" + date; %>
<% if(month<10) month = "0" + month; %>
<!--                                                         -->
<div class="ui container">
  <h1 class="ui center aligned header">Edit <%= homework.name %></h1>
    <form action="/homeworks/<%= homework._id %>?_method=PUT" method="POST" class="ui big form">
      <div class="field">
        <label>Homework Name</label>
        <input type="text" name="homework[name]" value="<%= homework.name %>">
      </div>
      <div class="field">
        <label>Limit Time</label>
        <input type="date" name="homework[timeLimit]" value="<%= year %>-<%= month %>-<%= date %>">
      </div>
      <div class="field">
        <label>Status</label>
        <select name="homework[status]">
          <option value="working" <% if(homework.status==="working"){ %> selected <% } %>>working</option>
          <option value="completed" <% if(homework.status==="completed"){ %> selected <% } %>>completed</option>
          <option value="failed" <% if(homework.status==="failed"){ %> selected <% } %>>failed</option>
        </select>
      </div>
      <button class="ui yellow button"><i class="edit icon"></i>Edit</button>
    </form>
</div>

  <a href="/homeworks" class="ui button">Go Back</a>
<% include ../partials/footer %>
