<% include ../partials/header %>
  <h1>Homework List</h1>
  <a href="/homeworks/new">+Add</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Time Limit</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% homeworks.forEach(function(homework){ %>
        <tr>
          <td><%= homework.name %></td>
          <td><%= homework.timeLimit.toString().slice(3,15) %></td>
          <td><%= homework.status %></td>
          <td>
            <a href="/homeworks/<%= homework._id %>/edit">Edit</a>
          </td>
          <td>
            <form action="/homeworks/<%= homework._id %>?_method=DELETE" method="POST">
              <button>Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<% include ../partials/footer %>
