<% include ../partials/header %>
<div class="ui container">
  <div class="ui secondary padded segment">
    <h1>Homework List</h1>
    <p>Homework List reminds you to manage your homework time</p>
    <a class="ui positive button" href="/homeworks/new"><i class="plus icon"></i>Add</a>
  </div>

  <div>
    <div class="ui grid container working-part">
      <h1 class="ui yellow header">Working homeworks</h1>
      <div class="five column row">
        <div class="column ui header">Name</div>
        <div class="column ui header">Deadline</div>
        <div class="column ui header">Time Remaining</div>
        <div class="column ui header">Status</div>
        <div class="column ui header"></div>
      </div>
      <% homeworks.forEach(function(homework){ %>
        <!-- Change Date format to dd/mm/yyyy   -->
        <% var date = homework.deadline.getDate(),
               month = homework.deadline.getMonth()+1,
               year = homework.deadline.getFullYear();
           if(date < 10) date = "0" + date;
           if(month < 10) month = "0" + month; %>
        <!--                                     -->
        <% if(homework.status == "working"){ %>
          <div class="five column row">
            <div class="column"><%= homework.name %></div>
            <div class="column"><%= date %>/<%= month %>/<%= year %></div>
            <div class="column">
              <% if(moment().isBefore(homework.deadline)){ %>
                <%= moment().to(homework.deadline); %>
              <% }else{ %>
                <%= "Time is Up!" %>
              <% } %>
            </div>
            <div class="column <%= homework.status %>"><%= homework.status %></div>
            <div class="column">
              <a class="ui mini yellow button" href="/homeworks/<%= homework._id %>/edit"><i class="edit icon"></i>Edit</a>
              <form action="/homeworks/<%= homework._id %>?_method=DELETE" method="POST" class="delete-form">
                <button class="ui mini red button"><i class="trash alternate icon"></i>Delete</button>
              </form>
            </div>
          </div>
        <% } %>

      <% }) %>
    </div>



    <div class="ui grid container completed-part">
      <h1 class="ui green header">Completed homeworks</h1>
      <div class="four column row">
        <div class="column ui header">Name</div>
        <div class="column ui header">Deadline</div>
        <div class="column ui header">Status</div>
        <div class="column ui header"></div>
      </div>
      <% homeworks.forEach(function(homework){ %>
        <!-- Change Date format to dd/mm/yyyy   -->
        <% var date = homework.deadline.getDate(),
               month = homework.deadline.getMonth()+1,
               year = homework.deadline.getFullYear();
           if(date < 10) date = "0" + date;
           if(month < 10) month = "0" + month; %>
        <!--                                     -->
        <% if(homework.status == "completed"){ %>
          <div class="four column row">
            <div class="column"><%= homework.name %></div>
            <div class="column"><%= date %>/<%= month %>/<%= year %></div>
            <div class="column <%= homework.status %>"><%= homework.status %></div>
            <div class="column">
              <a class="ui mini yellow button" href="/homeworks/<%= homework._id %>/edit"><i class="edit icon"></i>Edit</a>
              <form action="/homeworks/<%= homework._id %>?_method=DELETE" method="POST" class="delete-form">
                <button class="ui mini red button"><i class="trash alternate icon"></i>Delete</button>
              </form>
            </div>
          </div>
        <% } %>

      <% }) %>
    </div>

    <div class="ui grid container failed-part">
      <h1 class="ui red header">Failed homeworks</h1>
      <div class="four column row">
        <div class="column ui header">Name</div>
        <div class="column ui header">Deadline</div>
        <div class="column ui header">Status</div>
        <div class="column ui header"></div>
      </div>
      <% homeworks.forEach(function(homework){ %>
        <!-- Change Date format to dd/mm/yyyy   -->
        <% var date = homework.deadline.getDate(),
               month = homework.deadline.getMonth()+1,
               year = homework.deadline.getFullYear();
           if(date < 10) date = "0" + date;
           if(month < 10) month = "0" + month; %>
        <!--                                     -->
        <% if(homework.status == "failed"){ %>
          <div class="four column row">
            <div class="column"><%= homework.name %></div>
            <div class="column"><%= date %>/<%= month %>/<%= year %></div>
            <div class="column <%= homework.status %>"><%= homework.status %></div>
            <div class="column">
              <a class="ui mini yellow button" href="/homeworks/<%= homework._id %>/edit"><i class="edit icon"></i>Edit</a>
              <form action="/homeworks/<%= homework._id %>?_method=DELETE" method="POST" class="delete-form">
                <button class="ui mini red button"><i class="trash alternate icon"></i>Delete</button>
              </form>
            </div>
          </div>
        <% } %>
      <% }) %>
    </div>

  </div>
</div>

<% include ../partials/footer %>
