<% include ../partials/header %>
<div class="ui container">
  <div class="ui secondary padded segment">
    <h1>Homework List</h1>
    <p>Homework List reminds you to manage the homework time</p>
    <a class="ui positive button" href="/homeworks/new">+Add</a>
  </div>

  <table class="ui table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Time Limit</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% homeworks.forEach(function(homework){ %>
        <tr>
          <td><%= homework.name %></td>
          <td><%= homework.timeLimit.toString().slice(3,15) %></td>
          <td><%= homework.status %></td>
          <td>
            <a class="ui mini yellow button" href="/homeworks/<%= homework._id %>/edit">Edit</a>
            <form action="/homeworks/<%= homework._id %>?_method=DELETE" method="POST" class="delete-form">
              <button class="ui mini red button">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<% include ../partials/footer %>
